@charset "UTF-8";
/* --------------------------------
  reset
-------------------------------- */
* {
  margin: 0;
  padding: 0; }

html {
  overflow: hidden; }

body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

img {
  border: none;
  vertical-align: bottom; }

ul {
  list-style: none; }

input, a, button, textarea {
  border: none;
  outline: none; }
  input:hover, a:hover, button:hover, textarea:hover {
    opacity: 0.8; }
  input:focus, a:focus, button:focus, textarea:focus {
    outline: none; }

a {
  color: #1fa6ea;
  text-decoration: none;
  outline: none; }
  a:focus {
    outline: none; }

.clearfix, nav .project .box .list li, nav .top .menu1, #main .note .box .main_nav, #main .info_bottom, #main .info_bottom .right {
  *zoom: 1; }
  .clearfix:after, nav .project .box .list li:after, nav .top .menu1:after, #main .note .box .main_nav:after, #main .info_bottom:after, #main .info_bottom .right:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

.hide {
  display: none !important; }

.copy_only, .copyonly {
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  *vertical-align: auto;
  *zoom: 0;
  *display: inline;
  width: 1;
  height: 0;
  background-size: 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  font-size: 0;
  float: left;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

pre {
  display: block;
  padding: 20px;
  margin: 0 0 20px 0;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  font-style: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0; }

code {
  padding: 2px 4px;
  font-size: 100%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }

/* --------------------------------
  Wrapper
-------------------------------- */
#wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  clear: both;
  overflow: hidden; }

/* --------------------------------
  Nav
-------------------------------- */
nav {
  float: left;
  width: 300px;
  background: #f6f6f6;
  border-right: 1px solid #EEEEEE;
  z-index: 0;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  nav .dashboard_top {
    width: 300px;
    height: 140px;
    margin: 0 auto;
    padding: 0;
    bottom: auto;
    overflow: hidden;
    z-index: 425;
    background: url(../images/bg_greenz.gif) #e5e5e5;
    background-attachment: fixed;
    background-size: 30%;
    -webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    position: relative; }
    nav .dashboard_top .company_info {
      text-align: center;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
      height: 48px;
      width: 48px;
      margin: 37px auto 0 auto; }
      nav .dashboard_top .company_info .company_icon {
        border-radius: 4px;
        display: block;
        height: 48px;
        width: 48px; }
    nav .dashboard_top .company_name {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      margin: 10px auto 0 auto;
      color: #FFFFFF; }
    nav .dashboard_top .option {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 15px; }
    nav .dashboard_top .arrow {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 15px; }
  nav .project {
    overflow-y: scroll;
    height: inherit;
    bottom: 65px;
    /*background: #f6f6f6;*/ }
    nav .project .box .list .tit {
      position: relative;
      width: 250px;
      margin: 30px auto 0 auto; }
      nav .project .box .list .tit h2 {
        font-size: 14px;
        font-weight: normal;
        color: #9a9c9d; }
      nav .project .box .list .tit .add {
        position: absolute;
        top: 0;
        right: 0;
        width: 28px;
        height: 18px;
        border: 1px solid #9a9c9d;
        text-align: center;
        border-radius: 200px;
        line-height: 17px; }
        nav .project .box .list .tit .add img {
          width: 10px;
          height: 10px;
          line-height: 20px;
          vertical-align: middle; }
    nav .project .box .list li {
      position: relative;
      margin: 20px auto 0px auto;
      width: 250px; }
      nav .project .box .list li:first-child {
        margin: 25px auto 0 auto; }
      nav .project .box .list li:last-child {
        margin: 20px auto 45px auto; }
      nav .project .box .list li a {
        display: block;
        width: 250px;
        margin: 0 auto;
        height: 2.2rem;
        color: #000000; }
        nav .project .box .list li a .logo {
          float: left;
          width: 37px; }
          nav .project .box .list li a .logo img {
            border-radius: 4px;
            height: 37px;
            width: 37px; }
        nav .project .box .list li a .add {
          display: block;
          width: 37px;
          height: 37px;
          line-height: 26px;
          background: #FFFFFF;
          text-align: center;
          border-radius: 4px;
          vertical-align: middle;
          float: left; }
        nav .project .box .list li a .name {
          float: left;
          padding: 0 0 0 15px;
          font-size: 13px;
          font-weight: normal;
          color: #333333;
          line-height: 37px; }
        nav .project .box .list li a .num {
          position: absolute;
          top: 8px;
          right: 0;
          background: #00A0FF;
          border-radius: 200px;
          line-height: 18px;
          min-width: 30px;
          height: 20px;
          text-align: center; }
          nav .project .box .list li a .num span {
            font-size: 10px;
            text-align: center;
            color: #FFFFFF;
            font-weight: bold; }
  nav .top {
    bottom: auto;
    overflow: hidden;
    z-index: 425;
    background-color: #252422;
    color: #fff; }
    nav .top .menu1 {
      height: 53px;
      background: #f6f6f6;
      color: #000;
      position: relative;
      overflow: hidden;
      width: 200%;
      position: relative;
      -webkit-transition: right 0.2s ease-in-out, margin-left 0.2s ease-in-out;
      -moz-transition: right 0.2s ease-in-out, margin-left 0.2s ease-in-out;
      -ms-transition: right 0.2s ease-in-out, margin-left 0.2s ease-in-out;
      -o-transition: right 0.2s ease-in-out, margin-left 0.2s ease-in-out;
      transition: right 0.2s ease-in-out, margin-left 0.2s ease-in-out; }
      nav .top .menu1 .back {
        /*float: left;*/
        font-size: 12px;
        line-height: 54px;
        margin-left: 14px;
        background: url(../images/arrow-back.svg) center left no-repeat;
        padding-left: 25px;
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        margin-right: 46px; }
      nav .top .menu1 .search {
        /*float: right;
        font-size: 12px;
        line-height: 36px;
        margin-right: 14px;*/
        position: absolute;
        top: 13px;
        left: 50%;
        right: 36px;
        margin-left: -36px; }
      nav .top .menu1 .search_field {
        position: absolute;
        top: 0;
        right: 45px;
        bottom: 0;
        left: 45px; }
        nav .top .menu1 .search_field input {
          font-size: 13px;
          line-height: 30px;
          padding: 14px 0 0 0;
          text-indent: 0px;
          background-color: transparent;
          color: #333333;
          outline-width: 0;
          display: block;
          border: 0;
          margin: 0;
          width: 40%;
          max-width: 40%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          vertical-align: middle;
          z-index: 1000; }
      nav .top .menu1 .close {
        font-size: 12px;
        line-height: 34px;
        margin-right: 14px;
        position: absolute;
        top: 0;
        right: 0; }
    nav .top .menu2 {
      height: 65px;
      background: #f6f6f6;
      color: #000;
      position: relative;
      border-top: 1px solid #FFFFFF; }
      nav .top .menu2 .menu {
        display: block;
        width: 37px;
        height: 37px;
        line-height: 25px;
        background: #FFFFFF;
        position: absolute;
        top: 14px;
        left: 14px;
        text-align: center;
        border-radius: 4px; }
      nav .top .menu2 .icon {
        text-align: center;
        display: block;
        width: 37px;
        height: 37px;
        line-height: 37px;
        margin: 14px auto 0 auto;
        border-radius: 4px;
        overflow: hidden; }
        nav .top .menu2 .icon img {
          width: 36px;
          /*height: 36px;*/
          border-radius: 4px; }
      nav .top .menu2 .plus {
        display: block;
        width: 37px;
        height: 37px;
        line-height: 25px;
        background: #FFFFFF;
        position: absolute;
        top: 14px;
        right: 14px;
        text-align: center;
        border-radius: 4px;
        vertical-align: middle; }
      nav .top .menu2 .num {
        position: absolute;
        top: 27px;
        left: 178px;
        font-size: 11px;
        color: #BBBBBB; }
  nav .middle {
    overflow-y: scroll;
    height: inherit;
    bottom: 65px; }
    nav .middle .box .list {
      /*padding-bottom: 185px;*/ }
      nav .middle .box .list .draft {
        display: block;
        width: 230px;
        height: 163px;
        margin: 0 auto 20px auto;
        position: relative; }
        nav .middle .box .list .draft .draft_text {
          position: absolute;
          top: 60px;
          left: 87px;
          border: 1px solid #CCC;
          border-radius: 3px;
          color: #999;
          font-size: 12px;
          background: #fff;
          padding: 5px 10px 5px 10px;
          letter-spacing: 0.5px;
          font-weight: bold; }
        nav .middle .box .list .draft .draft_more {
          position: absolute;
          bottom: 0;
          left: 0;
          overflow: hidden;
          width: 230px;
          height: 40px;
          line-height: 40px;
          background: #fff;
          border-top: 1px solid #EEE; }
          nav .middle .box .list .draft .draft_more .edit {
            font-size: 11px;
            text-align: right;
            padding: 1px 10px 0 10px;
            font-weight: bold;
            white-space: nowrap;
            position: relative;
            color: #999999; }
        nav .middle .box .list .draft a {
          filter: alpha(opacity=40);
          -moz-opacity: 0.4;
          opacity: 0.4;
          display: block;
          width: 230px;
          height: 163px;
          /*border-radius: 4px;*/
          margin: 0 auto 20px auto;
          -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          -moz-transition-property: all;
          -o-transition-property: all;
          -webkit-transition-property: all;
          transition-property: all;
          -moz-transition-duration: 0;
          -o-transition-duration: 0;
          -webkit-transition-duration: 0;
          transition-duration: 0;
          -moz-transition-timing-function: ease-out;
          -o-transition-timing-function: ease-out;
          -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
          background: #fff;
          text-decoration: none;
          color: #54606a;
          cursor: pointer;
          position: relative; }
          nav .middle .box .list .draft a:first-child {
            margin-top: 25px; }
          nav .middle .box .list .draft a:last-child {
            margin-bottom: 35px; }
          nav .middle .box .list .draft a:hover {
            -moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
            background: #fff; }
      nav .middle .box .list a {
        display: block;
        width: 230px;
        height: 163px;
        /*border-radius: 4px;*/
        margin: 0 auto 20px auto;
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -moz-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        background: #FFFFFF;
        text-decoration: none;
        color: #54606a;
        cursor: pointer;
        position: relative; }
        nav .middle .box .list a:first-child {
          margin-top: 25px; }
        nav .middle .box .list a:last-child {
          margin-bottom: 35px; }
        nav .middle .box .list a:hover {
          -moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
          -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
          background: #FFFFFF; }
        nav .middle .box .list a.on {
          border: 2px solid #1fa6ea;
          position: relative; }
          nav .middle .box .list a.on .circle {
            position: absolute;
            top: 88px;
            left: -15px; }
            nav .middle .box .list a.on .circle img {
              width: 8px;
              height: 8px;
              border: 1px solid #FFF;
              border-radius: 200px;
              vertical-align: top; }
        nav .middle .box .list a .summary {
          padding: 15px 17px; }
          nav .middle .box .list a .summary h2 {
            font-size: 14px;
            padding: 1px 0 10px 30px;
            color: #0b0b0b;
            min-height: 45px;
            line-height: 1.6;
            font-weight: normal; }
            nav .middle .box .list a .summary h2.goal {
              background: url(../images/flag.svg) no-repeat 1px 1px;
              background-size: 18px; }
              nav .middle .box .list a .summary h2.goal span {
                color: #666666; }
            nav .middle .box .list a .summary h2.todo {
              background: url(../images/check_blue.svg) no-repeat 1px 1px;
              background-size: 18px; }
              nav .middle .box .list a .summary h2.todo span {
                color: #666666; }
            nav .middle .box .list a .summary h2.note {
              background: url(../images/document.svg) no-repeat 1px 1px;
              background-size: 18px; }
              nav .middle .box .list a .summary h2.note span {
                color: #666666; }
            nav .middle .box .list a .summary h2.discussion {
              background: url(../images/textsms.svg) no-repeat 1px 1px;
              background-size: 18px; }
              nav .middle .box .list a .summary h2.discussion span {
                color: #666666; }
            nav .middle .box .list a .summary h2.document {
              background: url(../images/image.svg) no-repeat 1px 1px;
              background-size: 18px; }
              nav .middle .box .list a .summary h2.document span {
                color: #666666; }
          nav .middle .box .list a .summary p {
            font-size: 12px;
            color: #999999; }
          nav .middle .box .list a .summary .more {
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            width: 230px;
            height: 40px;
            line-height: 40px;
            /*background: #EEE;*/
            border-top: 1px solid #EEE; }
            nav .middle .box .list a .summary .more .deadline {
              font-size: 11px;
              padding: 1px 10px 0 10px;
              text-align: right;
              color: #b3312d;
              font-weight: bold;
              white-space: nowrap; }
            nav .middle .box .list a .summary .more .progress {
              font-size: 11px;
              padding: 1px 10px 0 10px;
              text-align: right;
              font-weight: bold;
              white-space: nowrap;
              color: #999999; }
            nav .middle .box .list a .summary .more .edit {
              font-size: 11px;
              text-align: right;
              padding: 1px 10px 0 10px;
              font-weight: bold;
              white-space: nowrap;
              position: relative;
              color: #999999; }
          nav .middle .box .list a .summary .img {
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            width: 230px;
            height: 40px; }
            nav .middle .box .list a .summary .img img {
              width: 230px; }
        nav .middle .box .list a .folder {
          background: url(../images/folder_top.png) no-repeat top right #403d39;
          background-size: 147.5px;
          height: 163px;
          width: 230px;
          text-align: center;
          padding: 0; }
          nav .middle .box .list a .folder h2 {
            color: #FFFFFF;
            margin: 0;
            font-size: 16px;
            padding: 0 0 6px 0;
            line-height: 1.4;
            display: table-cell;
            height: 173px;
            width: 230px;
            text-align: center;
            vertical-align: middle;
            font-weight: normal; }
            nav .middle .box .list a .folder h2 span {
              color: #666666;
              font-size: 12px; }
  nav .bottom {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 295;
    -webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.04);
    /*-webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 -1px 2px rgba(0,0,0,0.15),inset 0 1px 0 rgba(255,255,255,0.5);*/
    border-top: 1px solid #EEE;
    color: #FFFFFF;
    height: 65px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f6f6f6; }
    nav .bottom .box {
      position: relative;
      color: #000; }
      nav .bottom .box .home {
        position: absolute;
        bottom: 10px;
        left: 18%; }
      nav .bottom .box .profile {
        text-align: center;
        display: block;
        width: 37px;
        height: 37px;
        line-height: 37px;
        margin: 14px auto 0 auto;
        position: relative; }
        nav .bottom .box .profile img {
          width: 37px;
          border-radius: 200px; }
        nav .bottom .box .profile .circle {
          position: absolute;
          top: 0;
          right: 0; }
          nav .bottom .box .profile .circle img {
            width: 8px;
            height: 8px;
            border: 1px solid #FFF;
            border-radius: 200px; }
      nav .bottom .box .task {
        position: absolute;
        bottom: 8px;
        right: 18%; }

/* --------------------------------
  Main
-------------------------------- */
#main {
  float: left;
  background: #FFFFFF;
  /*background: -webkit-radial-gradient(50%, circle, #688e8f 0%, #688e8f 60%, #506367 100%) #506367;
  background: -moz-radial-gradient(50%, circle, #688e8f 0%, #688e8f 60%, #506367 100%) #506367;
  background: -o-radial-gradient(50%, circle, #688e8f 0%, #688e8f 60%, #506367 100%) #506367;
  background: -ms-radial-gradient(50%, circle, #688e8f 0%, #688e8f 60%, #506367 100%) #506367;
  background: radial-gradient(50%, circle, #688e8f 0%, #688e8f 60%, #506367 100%) #506367;*/
  overflow-y: auto;
  position: relative;
  z-index: 0; }
  #main .oval {
    position: absolute;
    top: 11px;
    right: 24px;
    z-index: 100; }
  #main .note {
    background: #FFFFFF;
    padding: 0;
    color: #000000;
    overflow-y: scroll;
    height: inherit; }
    #main .note .box {
      padding: 50px 50px 50px 50px;
      min-width: 400px;
      max-width: 670px;
      margin: 0 auto; }
      #main .note .box .main_nav ul {
        float: right;
        margin-top: 0;
        width: 150px; }
        #main .note .box .main_nav ul li {
          font-size: 13px;
          text-align: right; }
          #main .note .box .main_nav ul li span {
            background: url(../images/check_note.svg) no-repeat left 2px;
            padding: 0 0 0 25px; }
      #main .note .box .article_header {
        position: relative; }
        #main .note .box .article_header h2 {
          letter-spacing: 0.02em;
          font-weight: 700;
          font-style: normal;
          font-size: 20px;
          line-height: 1.5;
          margin: 0 0 24px 0;
          padding: 0 0 0 0;
          /*font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Verdana,sans-serif;*/ }
          #main .note .box .article_header h2 span {
            color: #D8D8D8; }
        #main .note .box .article_header .star {
          position: absolute;
          top: 4px;
          left: -30px;
          background: yellow;
          width: 18px;
          height: 18px;
          display: block;
          background: url(../images/star.svg) no-repeat; }
          #main .note .box .article_header .star.outline {
            background: url(../images/star-outline.svg) no-repeat; }
      #main .note .box article {
        height: inherit;
        bottom: 65px;
        color: #3d3c40;
        /*pre{
          padding: 16px;
          overflow: auto;
          font-size: 85%;
          line-height: 1.45;
          background-color: #f7f7f7;
          border-radius: 3px;
          font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
          word-wrap:normal;
          code{
            display: inline;
            max-width: initial;
            padding: 0;
            margin: 0;
            overflow: initial;
            line-height: inherit;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
            &::before{
              letter-spacing: -0.2em;
              content:normal;
            }
          }
        }*/ }
        #main .note .box article h1, #main .note .box article h2, #main .note .box article h3 {
          letter-spacing: 0.02em;
          font-weight: 300;
          font-style: normal;
          font-size: 20px;
          line-height: 1.4;
          margin-top: 30px;
          margin-bottom: 10px;
          padding: 0; }
        #main .note .box article p {
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 20px;
          line-height: 1.8;
          word-break: break-word;
          word-wrap: break-word;
          /*font-family: Georgia,Cambria,"Times New Roman",Times,serif;*/
          letter-spacing: .01rem;
          font-weight: 400; }
          #main .note .box article p.start {
            color: #D8D8D8; }
        #main .note .box article hr {
          display: block;
          width: 100px;
          margin: 41px auto 41px auto;
          border: 0;
          border-top: 1px solid rgba(0, 0, 0, 0.15); }
        #main .note .box article blockquote {
          /*background: #eee url(../images/blockquote.svg) no-repeat 10px 10px;*/
          /*font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;*/
          font-size: 14px;
          line-height: 1.8;
          margin-bottom: 25px;
          letter-spacing: .01rem;
          font-weight: 400;
          font-style: italic;
          border-left: 3px solid rgba(0, 0, 0, 0.8);
          padding-left: 20px;
          margin-left: -23px;
          padding-bottom: 1px;
          padding-top: 3px;
          color: #999999; }
        #main .note .box article ul {
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 20px;
          line-height: 1.8;
          word-break: break-word;
          word-wrap: break-word;
          /*font-family: Georgia,Cambria,"Times New Roman",Times,serif;*/
          letter-spacing: .01rem;
          font-weight: 400; }
          #main .note .box article ul li {
            list-style-type: disc; }
        #main .note .box article ol {
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 20px;
          line-height: 1.8;
          word-break: break-word;
          word-wrap: break-word;
          /*font-family: Georgia,Cambria,"Times New Roman",Times,serif;*/
          letter-spacing: .01rem;
          font-weight: 400; }
          #main .note .box article ol li {
            list-style-type: decimal; }
        #main .note .box article figure {
          margin-bottom: 25px; }
          #main .note .box article figure small {
            color: #444;
            display: block;
            letter-spacing: 1px;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            font-size: 11px; }
  #main .header {
    border-bottom: 1px solid #EEE;
    box-sizing: border-box;
    min-height: 53px;
    margin: 0; }
    #main .header ul {
      width: auto;
      max-width: none;
      text-align: center; }
      #main .header ul li {
        display: inline-block;
        margin-right: 35px;
        margin-top: -1px;
        font-size: 13px;
        text-align: center;
        box-sizing: border-box;
        min-height: 53px;
        line-height: 56px; }
        #main .header ul li.active {
          border-bottom: 3px rgba(0, 0, 0, 0.8) solid; }
          #main .header ul li.active a {
            font-weight: 700;
            border-top: 0;
            color: #333;
            text-decoration: none; }
        #main .header ul li a {
          border-top: 0;
          color: #333;
          text-decoration: none; }
        #main .header ul li:last-child {
          margin-right: 0; }
  #main .content {
    margin: 0 auto;
    overflow-y: scroll;
    height: inherit;
    bottom: 65px; }
    #main .content .box {
      padding: 0 50px; }
      #main .content .box h2 {
        letter-spacing: 0.05em;
        font-family: 'Montserrat', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 100px;
        margin: 30px 0 0 0;
        color: #EEEEEE; }
      #main .content .box .day_driver {
        text-align: center;
        color: #CCC;
        font-size: 14px;
        font-weight: normal;
        line-height: 17px;
        margin: 30px 0px 0px 0px; }
      #main .content .box .message {
        border-top: 1px solid transparent;
        position: relative;
        word-wrap: break-word;
        clear: both;
        -webkit-transition: background 0.5s ease-out 0.0ms;
        -moz-transition: background 0.5s ease-out 0.0ms;
        transition: background 0.5s ease-out 0.0ms;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 20px; }
        #main .content .box .message:last-child {
          margin-bottom: 65px; }
        #main .content .box .message .member_image {
          position: absolute;
          top: 3px;
          left: 0;
          float: left;
          opacity: .8;
          -webkit-transition: opacity 0.1s ease-out 0.0ms;
          -moz-transition: opacity 0.1s ease-out 0.0ms;
          transition: opacity 0.1s ease-out 0.0ms;
          text-align: center;
          width: 40px;
          height: 40px;
          border-radius: 200px;
          background-size: 100%;
          background-repeat: no-repeat;
          display: inline-block; }
        #main .content .box .message .message_sender {
          margin-left: 68px;
          position: relative; }
          #main .content .box .message .message_sender .tit {
            font-size: 13px;
            font-weight: bold;
            font-family: Lato,appleLogo,sans-serif;
            padding-bottom: 3px; }
            #main .content .box .message .message_sender .tit a {
              color: #000;
              text-decoration: none; }
            #main .content .box .message .message_sender .tit .date {
              text-align: left;
              font-size: 11px;
              color: #BBBBBB;
              padding: 0 0 0 8px;
              font-weight: 300; }
          #main .content .box .message .message_sender .text {
            font-size: 14px;
            /*color: #000000;*/
            color: #3d3c40;
            line-height: 1.6; }
  #main .info_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
    background: #FFFFFF;
    min-height: 65px;
    overflow: hidden; }
    #main .info_bottom .left {
      width: 45%;
      float: left;
      font-size: 12px;
      color: #999;
      padding-left: 25px;
      padding-top: 25px; }
    #main .info_bottom .right {
      width: 45%;
      float: right;
      padding-right: 25px;
      padding-top: 15px; }
      #main .info_bottom .right .view {
        font-size: 12px;
        color: #4a90e2;
        padding-top: 10px;
        text-align: right; }
        #main .info_bottom .right .view span {
          background: url(../images/check_note.svg) no-repeat left 2px;
          padding: 3px 0 0 25px; }
      #main .info_bottom .right .tg-list {
        text-align: center;
        /*display: flex;
        align-items: center;*/
        float: right;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100px; }
        #main .info_bottom .right .tg-list .tg-list-item {
          position: absolute;
          top: 10px;
          left: 0; }
        #main .info_bottom .right .tg-list .tg-text {
          font-size: 12px;
          margin: 0;
          padding: 0 0 0 33px;
          border: 0;
          vertical-align: baseline;
          font-weight: normal;
          position: absolute;
          top: 9px;
          left: 0; }
      #main .info_bottom .right .tg-btn {
        float: right;
        width: 100px; }
        #main .info_bottom .right .tg-btn a {
          background: #3595e1;
          border-radius: 4px;
          width: 100px;
          height: 37px;
          font-size: 14px;
          color: #FFFFFF;
          display: block;
          text-align: center;
          line-height: 37px;
          text-decoration: none;
          font-weight: 700; }
          #main .info_bottom .right .tg-btn a:hover {
            text-decoration: none; }
      #main .info_bottom .right .tg-close {
        float: right;
        width: 15px;
        margin-left: 20px; }
      #main .info_bottom .right .tgl {
        display: none; }
        #main .info_bottom .right .tgl, #main .info_bottom .right .tgl:after, #main .info_bottom .right .tgl:before,
        #main .info_bottom .right .tgl *, #main .info_bottom .right .tgl *:after, #main .info_bottom .right .tgl *:before,
        #main .info_bottom .right .tgl + .tgl-btn {
          box-sizing: border-box; }
          #main .info_bottom .right .tgl::selection, #main .info_bottom .right .tgl:after::selection, #main .info_bottom .right .tgl:before::selection,
          #main .info_bottom .right .tgl *::selection, #main .info_bottom .right .tgl *:after::selection, #main .info_bottom .right .tgl *:before::selection,
          #main .info_bottom .right .tgl + .tgl-btn::selection {
            background: none; }
        #main .info_bottom .right .tgl + .tgl-btn {
          outline: 0;
          display: block;
          width: 26px;
          height: 15px;
          position: relative;
          cursor: pointer; }
          #main .info_bottom .right .tgl + .tgl-btn:after, #main .info_bottom .right .tgl + .tgl-btn:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%; }
          #main .info_bottom .right .tgl + .tgl-btn:after {
            left: 0; }
          #main .info_bottom .right .tgl + .tgl-btn:before {
            display: none; }
        #main .info_bottom .right .tgl:checked + .tgl-btn:after {
          left: 48%; }
      #main .info_bottom .right .tgl-light + .tgl-btn {
        background: #9A9C9D;
        border-radius: 2em;
        padding: 2px;
        transition: all 0.4s ease; }
        #main .info_bottom .right .tgl-light + .tgl-btn:after {
          border-radius: 50%;
          background: #ffffff;
          transition: all 0.1s ease; }
      #main .info_bottom .right .tgl-light:checked + .tgl-btn {
        background: #3595e1; }
  #main .bottom {
    z-index: 2147483001;
    /*-webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.04);
    border-top: 1px solid #EEE;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    /*background-color: #fff;*/
    padding: 12px 12px 0 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 65px; }
    #main .bottom a {
      float: left;
      border-radius: 4px;
      border: 2px solid #EEE;
      min-height: 42px;
      height: 42px;
      width: 63px;
      text-align: center;
      line-height: 30px;
      margin-right: 10px;
      background: #FFF;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #main .bottom .intercom {
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      border: 2px solid #EEE;
      min-height: 38px; }
      #main .bottom .intercom ul {
        position: absolute;
        top: 4px;
        right: 10px;
        z-index: 100; }
        #main .bottom .intercom ul li {
          display: inline;
          margin-right: 5px; }
          #main .bottom .intercom ul li:last-child {
            margin-right: 0; }
          #main .bottom .intercom ul li img {
            height: 15px; }
      #main .bottom .intercom textarea {
        -webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
        /*background: rgba(250, 250, 251, 0.8);*/
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 400;
        color: #60686e;
        resize: none;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 30px;
        min-height: 32px;
        max-height: 200px;
        width: 100%;
        height: 100%;
        padding: 5px 50px 5px 10px;
        border-radius: 4px;
        float: left; }

.panel {
  float: left;
  display: block;
  border-radius: 4px;
  background: #F2F2F2; }
  .panel a {
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    margin: 0 auto 20px auto;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #fff;
    text-decoration: none;
    color: #54606a;
    cursor: pointer;
    position: relative; }
    .panel a:hover {
      -moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
      background: #fff; }
    .panel a .project_head {
      background: url(../images/sample_bg_pattern.png) #FFEEEE;
      height: 190px;
      min-height: 100px;
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 4px 4px 0 0; }
      .panel a .project_head .box {
        text-align: center; }
        .panel a .project_head .box .img {
          display: block;
          width: 55px;
          height: 55px;
          line-height: 37px;
          background: #000;
          border-radius: 4px;
          margin: 45px auto 0 auto;
          opacity: .5;
          filter: alpha(opacity=50); }
        .panel a .project_head .box .name {
          line-height: 1.8;
          font-size: 16px;
          font-weight: bold;
          color: #FFF;
          margin: 15px 0 0 0;
          max-width: 100%;
          outline: 0;
          padding: 3px 0;
          text-align: center;
          background: none; }
    .panel a .project_body ul li {
      display: inline; }
      .panel a .project_body ul li img {
        width: 40px;
        height: 40px;
        border-radius: 200px; }

/* --------------------------------
  Submain
-------------------------------- */
#submain {
  float: right;
  width: 300px;
  background: #ffffff;
  /*border-left: 1px solid #f1f1f1;*/
  box-sizing: border-box;
  position: relative;
  z-index: 0; }
  #submain .header {
    border-bottom: 1px solid #EEE;
    box-sizing: border-box;
    min-height: 53px;
    margin: 0 5px 0 0; }
    #submain .header ul {
      width: auto;
      max-width: none;
      text-align: center; }
      #submain .header ul li {
        display: inline-block;
        margin-top: -1px;
        font-size: 13px;
        text-align: center;
        box-sizing: border-box;
        min-height: 53px;
        line-height: 56px;
        width: 144px; }
        #submain .header ul li.active {
          border-bottom: 3px rgba(0, 0, 0, 0.8) solid; }
          #submain .header ul li.active a {
            font-weight: 700;
            border-top: 0;
            color: #333;
            text-decoration: none; }
        #submain .header ul li a {
          border-top: 0;
          color: #333;
          text-decoration: none; }
        #submain .header ul li:last-child {
          margin-right: 0; }
  #submain .content {
    margin: 0 auto;
    padding: 0;
    overflow-y: scroll;
    height: inherit;
    bottom: 65px; }
    #submain .content .message {
      border-top: 1px solid transparent;
      border-bottom: 1px solid #F2F2F2;
      position: relative;
      word-wrap: break-word;
      clear: both;
      -webkit-transition: background 0.5s ease-out 0.0ms;
      -moz-transition: background 0.5s ease-out 0.0ms;
      transition: background 0.5s ease-out 0.0ms;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 280px;
      margin: 15px 0 15px 8px;
      padding: 0 10px 13px 0; }
      #submain .content .message:last-child {
        margin-bottom: 65px; }
      #submain .content .message .member_image {
        position: absolute;
        top: 3px;
        left: 5px;
        float: left;
        opacity: .8;
        -webkit-transition: opacity 0.1s ease-out 0.0ms;
        -moz-transition: opacity 0.1s ease-out 0.0ms;
        transition: opacity 0.1s ease-out 0.0ms;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 200px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block; }
      #submain .content .message .message_sender {
        margin-left: 54px;
        position: relative; }
        #submain .content .message .message_sender .tit {
          font-size: 12px;
          font-weight: bold;
          font-family: Lato,appleLogo,sans-serif;
          padding-bottom: 3px; }
          #submain .content .message .message_sender .tit a {
            color: #000;
            text-decoration: none; }
          #submain .content .message .message_sender .tit .date {
            text-align: left;
            font-size: 11px;
            color: #BBBBBB;
            padding: 0 0 0 8px;
            font-weight: 300; }
        #submain .content .message .message_sender .text {
          font-size: 12px;
          color: #555459;
          line-height: 1.6;
          font-weight: 500; }
  #submain .footer {
    z-index: 2147483001;
    /*-webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.04);
    border-top: 1px solid #EEE;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    /*background-color: #fff;*/
    padding: 12px 12px 0 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 65px; }
    #submain .footer a {
      float: left;
      border-radius: 4px;
      border: 2px solid #EEE;
      min-height: 42px;
      height: 42px;
      width: 63px;
      text-align: center;
      line-height: 30px;
      margin-right: 10px;
      background: #FFF;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #submain .footer .intercom {
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      border: 2px solid #EEE;
      min-height: 38px; }
      #submain .footer .intercom ul {
        position: absolute;
        top: 4px;
        right: 10px;
        z-index: 100; }
        #submain .footer .intercom ul li {
          display: inline;
          margin-right: 5px; }
          #submain .footer .intercom ul li:last-child {
            margin-right: 0; }
          #submain .footer .intercom ul li img {
            height: 15px; }
      #submain .footer .intercom textarea {
        -webkit-transition: background-color 0.2s linear;
        -moz-transition: background-color 0.2s linear;
        -o-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
        /*background: rgba(250, 250, 251, 0.8);*/
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 400;
        color: #60686e;
        resize: none;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 30px;
        min-height: 32px;
        max-height: 200px;
        width: 100%;
        height: 100%;
        padding: 5px 50px 5px 10px;
        border-radius: 4px;
        float: left; }
