/*TORIO Color*/
$green: #43aea8;
$link_green: #50bcb6;
$white_green: #e0f2f2;
$dark_green: #339999;
$red: #ed6d44;
$white_red: #ffebe7;
$dark_red: #db4c3f;
$yellow: #feb22e;
$white_yellow: #f9f0e1;
$dark_yellow: #ff9933;
$border_gray: #e2e2e2;
$border_white_gray: #f5f5f5;
$dark_gray: #e9e9e9;
$white_gray: #f5f5f5;
$icon_white_gray: #aeaeae;
$icon_dark_gray: #7f7f7f;
$icon_green: #50bcb6;
$dark_brack: #333333;
$brack: #555555;
$white_brack: #999999;

/*TORIO Service Color*/
$torio_green: #50bcb6;
$torio_red: #ed6d44;
$torio_yellow: #feb22e;

$img_path: "../images/";
@font-face {
  font-family: torio_icon;
  src: url(../font/torio_icon.ttf) format("ttf");
}
/*角丸*/
@mixin border_radius($value: 4px) {
    -webkit-border-radius: $value;
       -moz-border-radius: $value;
        -ms-border-radius: $value;
            border-radius: $value;
}
@mixin filter($value: 100%) {
  -webkit-filter: saturate($value);
  filter:saturate($value);
}
/*Font size*/
@mixin fontsize($fontsize) {
     font-size: $fontsize * 10px;
     font-size: $fontsize+rem;
}
/*透明度*/
@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}
/*透明度*/
@mixin easeout {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
/*Retina　対応*/
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

html {
  overflow: hidden !important;
}
body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  @include fontsize(1.4);
  line-height: 1.6;
  color: $brack;
  /*-webkit-font-smoothing: antialiased;*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
.wrapper {
  height: 100%;
  overflow: hidden;
}
ul {
  li {
    list-style: none;
  }
}
/*popover*/
.popover {
  @include border_radius();
  display: none;
  position: absolute;
  z-index: 1000;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.4);
}
/*Header*/
header {
  border-bottom: 1px solid $border_gray;
  width: 100%;
  z-index: 1000;
  background: #fff;
  .header_inner {
    height: 52px;
    background: #fff;
    position: relative;
  }
  .global_menu_btn {
    @include filter(0);
    position: absolute;
    width: 15px;
    height: 10px;
    left: 20px;
    top: 50%;
    margin-top: -5px;
    &:hover {
      @include filter();
      cursor: pointer;
    }
  }
  .activity_box {
    width: 400px;
    right: 10px;
    top: 60px;
  }
}
/*Torio Line*/
.header_line {
  position: relative;
  background: $torio_red;
  height: 2px;
  width: 100%;
  &:before {
    content: '';
    position: absolute;
    border-top: 2px solid $torio_yellow;
    width: 33%;
    left: 0;
  }
  &:after {
    content: '';
    position: absolute;
    border-top: 2px solid $torio_green;
    width: 33%;
    right: 0;
  }
}
/*Search*/
.search {
  @include border_radius();
  position: absolute;
  width: 60%;
  height: 32px;
  border: 1px solid $border_gray;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -30%;
  input {
    &[type="search"] {
      @include fontsize(1.4);
      width: 100%;
      height: 32px;
      padding: 0 10px;
      line-height: 32px;
    }
    &[type="submit"] {
      position: absolute;
      right: 1px;
      width: 32px;
      background: url('#{$img_path}icon_header_search.png') #fff no-repeat center;
      @include image-2x("#{$img_path}icon_header_search@2x.png", 15px, 15px);
      height: 0;
      padding-top: 30px;
      overflow: hidden;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
/*Alart*/
.alart {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 130px;
  height: 30px;
  margin-top: -15px;
  p {
    color: $white_brack;
    @include easeout;
    display: block;
    &:hover {
      color: $link_green;
      cursor: pointer;
    }
  }
  .task {
    display: inline-block;
    p {
      @include fontsize(3.0);
      &.icon {
        height: 30px;
        width: 15px;
      }
    }
  }
  .activity {
    display: inline-block;
    margin-left: 23%;
    p {
      @include fontsize(3.0);
      &.icon {
        height: 30px;
        width: 15px;
      }
    }
  }
  .account {
    position: absolute;
    top: 0;
    right: 0;
    .image {
      img {
        @include border_radius(15px);
        width: 30px;
        height: auto;
        vertical-align: bottom;
      }
    }
  }
}
/*Main*/
.main {
  display: -webkit-box;
  display: -moz-box;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  height: 100%;
  h3 {
    @include fontsize(1.2);
    color: $brack;
  }
}
/*Global Menu*/
.global_menu {
  width: 14%;
  min-width: 100px;
  overflow-y: scroll;
  background: #fff;
  &.ui-widget-content {
    border: none;
    border-right: 1px solid $border_gray;
  }
  .global_menu_inner {
    h3 {
      margin: 0 20px 16px 20px;
      &:first-child {
        margin-top: 40px;
      }
    }
    ul {
      margin: 0 0 41px -10px;
      @include fontsize(1.2);
      li {
        position: relative;
        list-style: none;
        clear: both;
        margin-bottom: 0;
        a {
          color: $brack;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-right: 20px;
          span {
            margin: 9px 8px 9px 12px;
          }
          &.unread {
            color: $green;
            font-weight: bold;
            &:before {
              @include border_radius(3px);
              position: absolute;
              top: 50%;
              left: 20px;
              margin-top: -3px;
              z-index: 1000;
              content: "";
              width: 5px;
              height: 5px;
              background: $torio_green;
            }
          }
          height: 38px;
          line-height: 38px;
          &.selected {
            background: $torio_green;
            color: #fff;
            .global_list_noimage {
              background: #fff;
            }
          }
        }
        .global_list_noimage {
          @include border_radius();
          display: block;
          float: left;
          background: $torio_green;
          width: 20px;
          height: 20px;
          margin-left: 31px;
        }
        .global_list_image {
          float: left;
          margin-left: 31px;
          img {
            @include border_radius();
            width: 20px;
            height: auto;
          }
        }
      }
    }
    .groups {
      position: relative;
      .add {
        position: absolute;
        right: 17px;
        top : 1px;
        button  {
          &:hover {
            cursor: pointer;
          }
          &:focus {
            outline: none;
          }
        }
        .md-trigger {
          width: 12px;
          span {
            position: relative;
            display:block;
            width:3px;
            height: 13px;
            min-height: 1;
            background: $icon_white_gray;
            &:before {
              content:"";
              display:block;
              width:100%;
              height:100%;
              -moz-transform:rotate(90deg);
              -webkit-transform:rotate(90deg);
              background: $icon_white_gray;
            }
          }
        }
      }
    }
    .member {
      @extend .groups;
      .global_list_noimage {
        @include border_radius(10px);
        @include fontsize(1.0);
        line-height: 18px;
        background: white;
        border: 1px solid $torio_green;
        text-align: center;
        color: $torio_green;
      }
      .global_list_image {
        float: left;
        img {
          @include border_radius(10px);
          width: 20px;
          height: auto;
        }
      }
    }
  }
}
/*Page Menu*/
.page_menu {
  position: relative;
  width: 20%;
  height: 100%;
  background: #fff;
  &.ui-widget-content {
    border: none;
    border-right: 1px solid $border_gray;
  }
  .config {
    position: relative;
    height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid $border_gray;
    line-height: 50px;
    .title {
      @include fontsize(1.3);
      color: $brack;
      font-weight: bold;
      float: left;
    }
    .favorite {
      @include fontsize(2.2);
      color: $white_brack;
      position: absolute;
      right: 75px;
      top: 12px;
      &:hover {
        color: $yellow;
      }
    }
    .viewers {
      color: $white_brack;
      position: absolute;
      right: 40px;
      top: 0;
      i {
        @include fontsize(2.4);
      }
      .number {
        vertical-align: super;
      }
      &:hover {
        color: $link_green;
      }
    }
    .option {
      @include fontsize(2.8);
      color: $white_brack;
      position: absolute;
      right: 7px;
      top: 10px;
      &:hover {
        color: $link_green;
      }
    }
    .option_box {
      width: 250px;
      height: 140px;
      left: 190px;
      top: 45px;
      z-index: 1000;
      ul {
        padding: 10px 0;
        li {
          line-height: 40px;
          a {
            padding: 0 20px;
            display: block;
            height: 40px;
            &:hover {
              background: $torio_green;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .page_menu_inner {
    overflow: hidden;
    height: 100%;
    .item {
      @include fontsize(1.2);
      position: relative;
      padding: 20px 20px 20px 23px;
      color: $brack;
      border-bottom: 1px solid $border_gray;
      .check {
        position: absolute;
        right: 10px;
        top: 0;
      	width: 0;
      	height: 0;
      	border-top: 25px solid $dark_red;
      	border-right: 8px solid $dark_red;
      	border-bottom: 7px solid #fff;
      	border-left: 8px solid $dark_red;
      }
      .title {
        @include fontsize(1.4);
        color: $brack;
        font-weight: bold;
        margin-bottom: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      a {
        &.unread {
          .title {
            color: $green;
            &:before {
              @include border_radius(3px);
              position: absolute;
              top: 30px;
              left: 10px;
              margin-top: -3px;
              z-index: 1000;
              content: "";
              width: 5px;
              height: 5px;
              background: $torio_green;
            }
          }
        }
      }
      &.file {
        ul {
          li {
            @include border_radius();
            display: inline-block;
            height: 45px;
            overflow: hidden;
            border: 2px solid #fff;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            img {
              width: 60px;
              height: auto;
            }
          }
        }
      }
      &.note {
        height: 115px;
        .text {
          height: 40px;
          line-height: 1.8;
          overflow: hidden;
          text-overflow: ellipsis;
          &::after {
            content: "…";
          }
        }
      }
      &.task {
        ul {
          margin-right: 55px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          li {
            margin-bottom: 2px;
            .name {
              float: left;
              display: block;
              text-align: left;
            }
            .value {
              display: block;
              text-align: right;
            }
          }
        }
        .graph {
          position: absolute;
          right: 13px;
          bottom: 20px;
          height: 50px;
          &.green {
            .number {
              p {
                color: $green;
              }
            }
          }
          &.yellow {
            .number {
              p {
                color: $yellow;
              }
            }
          }
          &.red {
            .number {
              p {
                color: $red;
              }
            }
          }
          .number {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            text-align: center;
            line-height: 50px;
            p {
              display: none;
              &:first-child {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .page_menu_footer {
    @include fontsize(4.0);
    color: $green;
    display: block;
    z-index: 1000;
    position: absolute;
    right: 0;
    left: 0;
    height: 50px;
    border-top: 1px solid $border_gray;
    background: #fff;
    text-align: center;
    padding-top: 3px;
    .add_page {
      width: 250px;
      height: 140px;
      left: 105px;
      bottom: 40px;
      padding-top: 10px;
      ul {
        text-align: left;
        li {
          @include fontsize(1.2);
          font-weight: bold;
          line-height: 40px;
          position: relative;
          &.add_page_note {
            a {
              i {
                color: $yellow;
              }
              &:hover {
                i {
                  color: white;
                }
              }
            }
          }
          &.add_page_task {
            @extend .add_page_note;
            a {
              i {
                color: $green;
              }
            }
          }
          &.add_page_file {
            @extend .add_page_note;
            a {
              i {
                color: $red;
              }
            }
          }
          a {
            padding: 0 20px 0 45px;
            display: block;
            height: 40px;
            i {
              &:before {
                @include fontsize(2.0);
                position: absolute;
                top: 10px;
                left: 20px;
              }
            }
            &:hover {
              background: $torio_green;
              color: white;
            }
          }
        }
      }
    }
  }
}
/*detail*/
.detail {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding: 30px;
  background: $dark_gray;
  width: 100%;
  height: 100%;
  &.ui-widget-content {
    border: none;
  }
}
